* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0E8DC;
}

@font-face {
    font-family: "Inter";
    src: url('assets/inter_font/Inter-Regular.ttf');
}

@font-face {
    font-family: "Playfair-Italic";
    src: url('assets/playfair_font/PlayfairDisplay-Italic.ttf');
}

.navbar {
    background-color: #F0E8DC;
    padding: 10px 20px;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.login a {
    text-decoration: none;
    color: black;
}

.login .btn {
    background-color: #C9A87C;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
}

/* navbar hierboven */

.header {
    display: flex;
    background-image: url("assets/background_header.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header h1 {
    color: white;
    text-shadow: 0 2px 40px rgba(0,0,0,0.8);
    font-size: 6.2rem;
    font-family: "Playfair-Italic";
}

.header h2 {
    color: white;
    text-shadow: 0 2px 40px rgba(0,0,0,0.8);
    letter-spacing: 1px;
    font-family: "Inter";
    font-size: 0.8rem;
    width: 50%;
}

.highlight {
    color: #C9A87C;
}

.locations {
    display: flex;
}

.location-container {
    display: flex;
    flex-direction: column;
    background-color: #F0E8DC;
    padding: 80px;
    width: 100%;
    align-items: center;
}

.location-container h1 {
    font-size: 2.5rem;
    color: #142334;
    font-family: "Playfair-Italic";
    width: auto;
}

.location-container h2 {
    color: #142334;
    font-family: "Inter";
    width: auto;
    font-size: 1.0rem;
}

.highlight-2 {
    color: #2E6E8E;
}

.location-text.hover-aanwezig span {
    color: #142334;
}

.location-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13%;
    width: 100%;
    max-width: 1000px;
}

.location-text.hover-actief h1 {
    color: #2E6E8E;
}

.location-text-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: auto;
}

.pictures-slides {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 35%;
    font-family: "Playfair-Italic";
}

.arrow-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    cursor: pointer;
}

.arrow-button-2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.destination {
    width: 100%;
}

.destination-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.destination-sub {
    display: flex;
    justify-content: space-between;
}

.destinations-track {
    display: flex;
    gap: 25px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 1200px;
    margin-top: 10%;
}

.destination-card {
    width: 384px;
    flex-shrink: 0;
}

.destination-card img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 8px;
}

.search-bar {
    display: flex;
    background-color: #C9A87C;
    width: 90%;
    max-width: 1100px;
    margin: -60px auto 50px auto;
    position: relative;
    z-index: 10;
    box-shadow: 0px 15px 40px rgba(0,0,0,0.08);
    flex-direction: column;
}

.search-tabs {
    display: flex;
    gap: 30px;
    padding: 20px 40px;
    border-bottom: 1px solid white;
}

.tab {
    background: none;
    border: none;
    font-family: "Inter";
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #142334;
    cursor: pointer;
    padding-bottom: 5px;
}

.tab-active {
    color: #2E6E8E;
    border-bottom: 2px solid #2E6E8E;
    font-weight: bold;
}

.search-fields {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.search-field {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid white;
    padding : 0 20px;
    gap: 8px;
}

.search-field label {
    font-family: "Inter";
    font-size: 0.65rem;
    text-transform: uppercase;
    color: #142334;
    letter-spacing: 1.5px;
}

.search-field input,
.search-field select {
    border: none;
    background: transparent;
    font-family: "Playfair-Italic";
    font-size: 1.2rem;
    color: #142334;
    cursor: pointer;
    outline: none;
    appearance: none;
}

.search-button {
    background-color: #142334;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 35px;
    font-family: "Inter";
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 20px;
}

.search-button hover {
    background-color: #2E6E8E;
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: white;
    border-radius: 25px;
    gap: 40px;
}

.form-card input, textarea, select{
    border: none;
    padding: 20px;
    background-color: #F0E8DC;
    border-radius: 10px;
}

.form-card button {
    padding: 10px;
    background-color: #142334;
    color: white;
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-card a {
    text-decoration: none;
    font-family: "Inter";
}

.reviews-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.reviews-track {
    display: flex;
    gap: 25px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.review-card {
    width: 384px;
    flex-shrink: 0;
    background-color: white;
    padding: 35px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-name {
    font-family: "Playfair-Italic";
    color: #142334;
    font-size: 1.8rem;
}

review-subject {
    font-family: "Inter";
    color: #C9A87C;
    font-size: 1.1rem;
    font-weight: bold;
}

.review-stars {
    display: flex;
    gap: 5px;
}

.review-desc {
    font-family: "Inter";
    color: black;
    font-size: 0.9rem;
}

.review-slides {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 35%;
    font-family: "Playfair-Italic";
}

.arrow-button-3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    cursor: pointer;
}

.arrow-button-4 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



