* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url('assets/inter_font/Inter-Regular.ttf');
}

@font-face {
    font-family: "Playfair-Italic";
    src: url('assets/playfair_font/PlayfairDisplay-Italic.ttf');
}

.navbar {
    background-color: #F0E8DC;
    padding: 10px 20px;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.login a {
    text-decoration: none;
    color: black;
}

.login .btn {
    background-color: #C9A87C;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
}

/* navbar hierboven */

.header {
    display: flex;
    background: linear-gradient(to right, #0D2137, #1B3A4B);
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header h1 {
    color: white;
    font-size: 6.2rem;
    font-family: "Playfair-Italic";
}

.header h2 {
    color: white;
    font-family: "Inter";
    font-size: 0.8rem;
    width: 50%;
}

.highlight {
    color: #C9A87C;
}